<div class="row my-4">
    <div class="col-md-12">
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <h3>Add post</h3>
            <hr />
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title">
                <div *ngIf="postForm.get('title').touched && !postForm.get('title').valid">
                    <div *ngIf="postForm.get('title').errors.required">
                        Title is required
                    </div>
                    <div *ngIf="postForm.get('title').errors.minlength">
                        Title should be minimum 4 characters length
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div>
                    {{ showDescriptionerror() }}
                </div>
            </div>
            <div class="my-2">
                <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">Add</button>
            </div>
        </form>
    </div>
</div>